html{
    background-color: #333;
}
body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    color: #333;
    line-height: 1.6;
    margin-top: 0;
    margin-left: 300px;
    margin-right: 300px;
    padding: 100px;
}


h1, h2 {
    font-weight: bold;
    color: #444;
    margin: 20px 0;
    line-height: 1.2;
    text-align: center;
}


a:link {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}


a:hover {
    text-decoration: underline;
}

a:active{
    color: red;
    text-decoration: underline;
}

a:visited{
    color: rgb(0, 226, 30);
} 

ul, ol {
    margin: 20px;
    padding: 10px;
    list-style-position: inside;
}


ul li {
    background: #eee;
    padding: 5px;
    margin: 5px 0;
}
ul > li:first-child{
    background-color: rgb(255, 203, 196);
}

ol li {
    background: #ddd;
    padding: 5px;
    margin: 5px 0;
}


dl {
    margin: 20px;
    padding: 10px;
}

dl > li{
    color: #301934;
    font-weight: 700;
}

#instruments + p{
    background-color: #333;
    color: #ccc;
    text-align: center;
    font-weight: 700;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    margin-top: 200px;
}


th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}


th {
    background: #f4f4f4;
    font-weight: bold;
}


tr:nth-child(even) {
    background: #f9f9f9;
}
img{
	width: 100px;
	height: auto;
}
img:last-child{
	height: 100px;
	width: auto;
}



.highlight {
    background-color: black;
    color: white;
}


.important-text {
    color: #ff0000 !important;
    font-weight: bold;
    text-align: center;
}


.info{
    text-align:center;
}

#custom-paragraph {
    font-style: italic;
    color: #301934;
    text-align: center;
}
footer{
    text-align: center
}
.back{
    margin-top: 50px;
    color: black;
    font-style: italic;
    text-align: right;
}
.sponsors {
    margin: 20px;
    width: 200px;
}
.italic{
    position: static;
}
.frameee{
   float: inline-end;
}
.sponsor::before{
    content: "Name: ";
    font-weight: 700;
}


.important-text::after{
    content: " \260E";
}
